/* Variables */
$ancho: 100px;
$largo: 100px;
$ancho2: 50px;
$largo2: 50px;
$ocultar: true;

/* MAPA */
$redes:(texto1: 20px, texto2: 15px, texto3: 40px);
@each $clave, $valor in $redes { 
    .textos-#{$clave} {
        font-size: $valor;
    }
}
/* .color-fondo { 
    background-color: #E0CECE;
} */
.color-fondo-2 {
    background-color: #ADA0A0;
}
.tamano { 
    font-size: 10px;
}
body { 
    font-family: 'Sansita Swashed', cursive;
}

.margen-boton { 
    padding-bottom: 100px;
}

.logo {
    width: $ancho2*2;
    height: $largo2*2;
}

.torta1 { 
    width: $ancho*3;
    height: $largo*3;
}
.torta2 { 
    width: $ancho*2;
    height: $largo*2;
}
.torta2-nuevo { 
    @extend .torta2;
    border: solid 4px #EAD7CB;
}

.mostrar {
    @if $ocultar { 
        display: none;
    }
}
.link:hover { 
font-size: 25px;
}

.link {
    text-decoration: none;
}

.wsp { 
    width: 46px;
    padding-top: 2px;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}
.pasteleria { 
    @include sizes(800px, 400px)
}
.ig { 
    width: 70px;
    padding-top: 5px;
}