/* Variables */
/* MAPA */
.textos-texto1 {
  font-size: 20px; }

.textos-texto2 {
  font-size: 15px; }

.textos-texto3 {
  font-size: 40px; }

/* .color-fondo { 
    background-color: #E0CECE;
} */
.color-fondo-2 {
  background-color: #ADA0A0; }

.tamano {
  font-size: 10px; }

body {
  font-family: 'Sansita Swashed', cursive; }

.margen-boton {
  padding-bottom: 100px; }

.logo {
  width: 100px;
  height: 100px; }

.torta1 {
  width: 300px;
  height: 300px; }

.torta2, .torta2-nuevo {
  width: 200px;
  height: 200px; }

.torta2-nuevo {
  border: solid 4px #EAD7CB; }

.mostrar {
  display: none; }

.link:hover {
  font-size: 25px; }

.link {
  text-decoration: none; }

.wsp {
  width: 46px;
  padding-top: 2px; }

.pasteleria {
  height: 400px;
  width: 800px; }

.ig {
  width: 70px;
  padding-top: 5px; }
